ffmpeg-python==0.2.0
flake8==3.8.3
Flask==1.1.2
ifcfg==0.21
mypy==0.782
numpy==1.19.1
python-telegram-bot==12.8
pytube3==9.6.4
requests==2.24.0
sounddevice==0.4.0
waitress==1.4.4
more-itertools=8.5.0
