<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>py-radio web interface</title>
    <link rel="stylesheet" href="static/web.css">
    <script type="module" src="static/web.js"></script>
</head>
<body>
    <div id="header">
        <h1>py-radio</h1>
    </div>
    <div id="content">
        <div id="now" class="section">
            <div class="title">Now playing:</div>
            <div id="current-clip">-</div>
        </div>
        <div id="controls" class="section">
            <button id="news" title="Tagesschau in 100s">Tagesschau</button>
            <button id="pause" title="toggle pause">pause</button>
            <button id="skip" title="skip the current clip">skip</button>
        </div>
        <div id="history" class="section">
            <div class="title">Recent history:</div>
            <div id="history-clips"></div>
        </div>
        <div id="stats" class="section"></div>
        <div id="about" class="section">
            The code for this project is
            <a href="https://github.com/tim-we/py-radio">available on GitHub</a>.
        </div>
    </div>
</body>
</html>