html, body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    text-rendering: optimizeLegibility;
}

div {
    margin: 0px;
    padding: 0px;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

#header {
    display: grid;
    place-items: center;
    height: 80px;

    background-image: linear-gradient(#1e415e 10%,#2b5b84 90%);
    color: white;
}

#header h1 {
    margin: 0px;
    padding: 0px;
}

#content > div {
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
    padding: 5px 10px;
}

#now {
    background-color: #ffd343;
    color: rgb(90,90,90);
}

.section > .title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

#now > #current-clip {
    color: rgb(64,64,64);
    text-align: center;
}

#controls {
    text-align: right;
}

#history {
    background-color: rgb(200,200,200);
    color: rgb(42,42,42);
}

#history .title {
    color: rgb(80,80,80);
}

#history .clip {
    margin-bottom: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#history .clip:hover {
    background-color: rgba(16,16,16,0.1);
}

#history-clips {
    text-align: center;
}

#about {
    margin-top: 20px;
    color: rgb(100,100,100);
    font-size: 14px;
    text-align: center;
}

#controls button {
    display: inline-grid;
    place-items: center;
    box-sizing: border-box;
    height: 42px;
    margin-left: 5px;
    min-width: 50px;

    font-size: 20px;
    color: #e6e8ea;
    background-color: #2b5b84;
    background-image: linear-gradient(#3776ab 10%,#2b5b84 90%);
    border-top: 1px solid #3d83be;
    border-right: 1px solid #3776ab;
    border-bottom: 1px solid #3776ab;
    border-left: 1px solid #3d83be;
    box-shadow: inset 0 0 5px rgba(55,118,171,0.2);
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 5px;
    vertical-align: top;
}

#controls button > img {
    opacity: 0.9;
}

#controls button:not(.active):hover {
    color: white;
    box-shadow: inset 0 0 6px rgba(100,200,255,0.25);
}

#controls button:not(.active):hover > img {
    opacity: 1;
}

#controls button.active {
    color: rgb(182,182,182);
    box-shadow: inset 0 0 7px rgba(55,118,171,0.75);
    opacity: 0.75;
}
